<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <table>
        <thead>
        <tr>
          <th># Id</th>
          <th># Nombre</th>
          <th># Género</th>
          <th># DNI</th>
          <th># Email</th>
          <th># Monto Solicitado</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
          <tr>
            <td><a class="btn" href="{% url 'update_loan_request_view' obj.id %}">{{ obj.id }}</a></td>
            <td style="text-align: center;">{{ obj.name }}</td>
            <td style="text-align: center;">{{ obj.gender }}</td>
            <td style="text-align: center;">{{ obj.dni }}</td>
            <td style="text-align: center;">{{ obj.email }}</td>
            <td style="text-align: center;">{{ obj.requested_amount }}</td>
            <td>
              <form action="{% url 'delete_loan_request_view' obj.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
                <input type="hidden" name="obj_id" value="{{ obj.id }}"/>
                <button type="submit" class="btn btn-danger btn-small">
                    Eliminar
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

</head>
<body>

</body>
</html>