<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Moni</title>
    <h1 style="text-align: center;">Formulario de Solicitud</h1>
    <div>
      <form class="" method="POST" autocomplete="off">{% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit" style="float: center">Enviar</button>
        </div>
      </form>
        {{ is_approved }}
      <br>
      <br>
    </div>
</head>
<body>

</body>
</html>
